<div class="header">   
  <div class = "topindex">
      <div class = "topindex-left">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <img class = "topindex-left-logo" src= "assets/Plentas.png" >
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="configuration">Configuration</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" routerLink="output" tabindex="-1" aria-disabled="true">Results</a>
                  </li>
                  <!--
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Developer output</a>
                  </li>
                  -->
                </ul>
                
              </div>
            </div>
          </nav>
      </div>
      <!--
      <div class = "topindex-right">
        <button class="btn btn-success" type="submit" >Login</button>
        <button class="btn btn-outline-success" type="submit">Sign Up</button>

      </div>
      -->

  </div>  
</div> 

<!-- O puedes comentar una gran cantidad de líneas.  
<div class="header">
  <span class="logo">PLENTAS</span>
  <div class="menu">
    <a routerLink="home" routerLinkActive="active">Inicio</a>
    <a routerLink="configuration" routerLinkActive="active">Experimento</a>
    <a routerLink="output" routerLinkActive="active">Análisis</a>
    <a routerLink="results" routerLinkActive="active">Resultados</a>
  </div>
</div>
<router-outlet></router-outlet>
-->

<div class = "background" >
  <div class = "background-filter" >
    <span class="dot-green"></span>
    <span class="dot"></span>
    <span class="tur-bar"></span>
    <span class="purple-bar"></span> 
  </div>
</div>
<router-outlet></router-outlet>


<div class = "footnote" >
  <p class = "footnote-text"> © 2022 PLeNTaS: Proyectos I+D+i 2019”, PID2019-111430RBI00. All rights reserved. </p>

</div>



