.data-container {
    position: relative;
    display: inline-block;
    width: 49%;
    margin-top: 30px;
  }



  .data-container-right {
    position: relative;
    display: inline-block;
    width: 49%;
    margin-top: -50px;
  }



  .data-container textarea {
    width: 100%;
    /*height: calc(100vh - 200px);*/
    height: 250px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .student-container{
    position: relative;
    margin-top: 40px;
    display: flex;
    padding: 10px 0;

    
  }

  input + input {
    margin-left: 10px;
}

label + input {
  margin-left: 10px;
}

table{
  position: relative;
  z-index: +1;
}

thead{
  background-color:rgb(182, 182, 182);
}

table.table-bordered > thead > tr > th{
  border-top:1px solid rgb(0, 0, 0);
  border-bottom:1px solid rgb(0, 0, 0);
  
}
table.table-bordered > tbody > tr > td{
  border-bottom:1px solid rgb(0, 0, 0);
}


.desglose-textBox{
  width: 600px;
  height: 200px;
}

.table-name{
  font-size: small;
}
