<div class="page-container">
    <div class="student-container">
      <label for="chkSemantic">Índice de la tabla: </label>
        <input type="text" maxlength="4" size="4" [(ngModel)]="ID"/>

        <input type="image" (click)="showPreviousStudent()" src="assets/flecha_l.png" style="border: double;" height="20" width="35"/>
        <input type="image" (click)="showNextStudent()" src="assets/flecha_r.png" style="border: double;" height="20" width="35"/>
      </div>
    <div class="flex-container">  
          
      <div class="data-container">

        
        <fieldset>
          <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>Estudiante</th>
                <th>Calificación Spacy</th>
                <th>Calificación BERT</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="showFeedback(0)">
                <td>{{stdnt_ID_1}}</td>
                <td>{{spacy_1}}</td>
                <td>{{bert_1}}</td>
              </tr>
              <tr (click)="showFeedback(1)">
                <td>{{stdnt_ID_2}}</td>
                <td>{{spacy_2}}</td>
                <td>{{bert_2}}</td>
              </tr>
              <tr (click)="showFeedback(2)">
                <td>{{stdnt_ID_3}}</td>
                <td>{{spacy_3}}</td>
                <td>{{bert_3}}</td>
              </tr>
              <tr (click)="showFeedback(3)">
                <td>{{stdnt_ID_4}}</td>
                <td>{{spacy_4}}</td>
                <td>{{bert_4}}</td>
              </tr>
              <tr (click)="showFeedback(4)">
                <td>{{stdnt_ID_5}}</td>
                <td>{{spacy_5}}</td>
                <td>{{bert_5}}</td>
              </tr>
              <tr (click)="showFeedback(5)">
                <td>{{stdnt_ID_6}}</td>
                <td>{{spacy_6}}</td>
                <td>{{bert_6}}</td>
              </tr>
              <tr (click)="showFeedback(6)">
                <td>{{stdnt_ID_7}}</td>
                <td>{{spacy_7}}</td>
                <td>{{bert_7}}</td>
              </tr>
              <tr (click)="showFeedback(7)">
                <td>{{stdnt_ID_8}}</td>
                <td>{{spacy_8}}</td>
                <td>{{bert_8}}</td>
              </tr>
              <tr (click)="showFeedback(8)">
                <td>{{stdnt_ID_9}}</td>
                <td>{{spacy_9}}</td>
                <td>{{bert_9}}</td>
              </tr>
              <tr (click)="showFeedback(9)">
                <td>{{stdnt_ID_10}}</td>
                <td>{{spacy_10}}</td>
                <td>{{bert_10}}</td>
              </tr>

            </tbody>
          </table>
  
          <!-- 
          <legend>Calification</legend>
          <textarea [(ngModel)]="experimentDataService.outputData"> </textarea>
          
          <button type="button" (click)="copyToClipboard(experimentDataService.outputData)">Copiar al Portapapeles</button>
          -->
        </fieldset>
        
      </div>
      <div class="data-container">
        <fieldset>
          <legend>Feedback</legend>
          <textarea [(ngModel)]="experimentDataService2.outputData"> </textarea>
          
          <button type="button" (click)="copyToClipboard(experimentDataService2.outputData)">Copiar al Portapapeles</button>
        </fieldset>
        
      </div>
    </div>
  </div>
  