
<div class = "background" >
  <img class = "logo-landingpage" src= "assets/new_logo.png" >    
  <div class = "background-filter" >
  

      <p class = "lp-title"> Herramienta para calificar exámenes
      </p>
      <p class = "lp-subtitle"> El objetivo principal de esta aplicación es apoyar a los profesores en la evaluación de respuestas abiertas
      </p>
      <br>

      <div class="home-menu">
          <div class="home-button" routerLink="/configuration2" >
            <span>Configurar y ejecutar</span>  
            <br>           
            <img src="../../../assets/config.png" width="90" height="90" />
            <br>
            <span class="text-prueba">Sube y configura los parámetros para ajustar la rúbrica de acuerdo a tus requerimientos de evaluación</span>

          </div>
          
          <div class="home-button-invisible" routerLink="/output">
            <span>Sección de desarrollador</span>
            <br>
            <img src="../../../assets/stats2.png" width="90" height="90" />
            <br>
            <span class="text-prueba">Salida para fine-tuning de funciones y mantenimiento de aplicaciones</span>
          
          </div>
          
          <div class="home-button">            
            <span>Resultados y feedback</span>
            <br>
            <div *ngIf="prueba != null; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><img src="../../../assets/results.png" width="90" height="90" id="ResultsFdbckButton" onclick= "myFunction()" routerLink="/output"  />.</ng-template>
              <ng-template #elseBlock><img class="img-notselect" src="../../../assets/results.png" width="90" height="90" id="ResultsFdbckButton" routerLink=""  /></ng-template>
            
            <br>
            <span class="text-prueba">Verifica los resultados generados</span>

          </div>
        </div>      




<!-- 
        <span class="dot-green"></span>
        <span class="dot"></span>
        <span class="tur-bar"></span>
        <span class="purple-bar"></span> 
-->
  </div> 
  <script>
    function myFunction() {
      var x = document.getElementById("ResultsFdbckButton");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
  

  


